<h2>{{tag}}</h2>

{{#if loading }}
	<h4>Loading...</h4>
{{else}}
	{{#if models}}
		<ul class="articles-list">
		{{#each models}}

			{{#with this.attributes}}
				<li class="article-listing">
					<div class="avatar" style="background-image: url({{author.avatar_URL}});"></div>
					<div class="article-listing__details">
						<a href="#/{{../../tag}}/{{slug}}"> {{title}}</a> 
						{{#with author}}
							<p>By: <a href="{{URL}}" target="_blank"></a>{{nice_name}}</p>
						{{/with}}
					</div>
				</li>
			{{/with}}

		{{/each}}
		</ul>
	{{/if}}
	

{{/if}}