<h2>{{tag}}</h2>

{{#if loading }}
	<h4>Loading...</h4>
{{else}}
	{{#if models}}
		<ul>
		{{#each models}}

			{{#with this.attributes}}
				<li>
					<a href="#/{{../../tag}}/{{slug}}"> {{slug}}</a>
				</li>
			{{/with}}
			
		{{/each}}
		</ul>
	{{/if}}
	

{{/if}}