<h2>Results for '{{tag}}'</h2>

{{#if errors}}
	<h4 class="error">Oops! Something went wrong!</h4>
	<p class="try-again">Try again?</p>

{{else}}

	{{#if loading }}
		<h4>Loading...</h4>
	{{else}}
		{{#if models}}
			<ul class="articles-list">
			{{#each models}}

				{{#with this.attributes}}
					<li class="article-listing paper">
						<div class="article-listing__container">
							{{#with author}}
							<a href="{{URL}}" target="_blank"><div class="avatar" style="background-image: url({{avatar_URL}});" alt="{{nice_name}}"></div></a>
							{{/with}}
							<div class="article-listing__details">
								<div class="truncater">
									<a class="article-listing__title truncate" href="#/{{../../tag}}/{{slug}}"> {{title}}</a> 
									{{#with author}}
										<p class="by-line truncate">By: <a href="{{URL}}" target="_blank">{{nice_name}}</a></p>
									{{/with}}
								</div>
							</div>
						</div>
					</li>
				{{/with}}

			{{/each}}
			</ul>
		{{else}}
			<h2>No articles found</h2>
		{{/if}}
		
	{{/if}}

{{/if}}