{{#if errors}}
  <h4 class="error">Oops! Something went wrong!</h4>
  <p class="try-again">Try again?</p>

{{else}}

  {{#if loading }}
    <h4>Loading...</h4>
  {{else}}

    {{#if article}}
      {{#with article}}
      	<div class="article__wrapper {{#unless selected}} out-of-focus{{/unless}}">
          <article class="article paper" id="{{slug}}">
              <div class="article__header">
                <h1>{{title}}</h1>
                
                  <p class="by-line truncate">By: 
                    {{#with author}}
                      <a href="{{URL}}" target="_blank">{{nice_name}}</a> 
                    {{/with}}
                    <a href="{{URL}}" target="_blank"><i class="fa fa-wordpress" alt="View at wordpress"></i></a>
                  </p>

              </div>

              <div class="article__content">{{{content}}}</div>
          </article>
        </div>
      {{/with}}
    {{else}}
    	<h2>Article not found</h2>
    {{/if}}

  {{/if}}

{{/if}}