<div class="breadcrumbs__container"s>
	{{#each breadcrumbs }}
		{{#if @first}}
			<div class="breadcrumbs__crumb tag-label {{title}}">
				{{!-- <a class="truncate tag-label {{title}}" href="{{link}}">{{title}}</a> --}}
				<a class="truncate" href="{{link}}">{{title}}</a>
			</div>

		{{ else }}

			{{#unless @last}}
				<div class="breadcrumbs__crumb">
					<a class="truncate tag-label {{title}}" href="{{link}}">{{title}}</a>
				</div>
			{{/unless}}

		{{/if}}
		
	{{/each}}
</div>